# Name-Abhishek Kumar
# Batch No-DS2309
# --------------------------------------------------------------------------------------------------------------

# Q1) Scrape the details of most viewed videos on YouTube from Wikipedia.
   Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

   A) Rank
 B) Name
 C) Artist
 D) Upload date
 E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [10]:
driver=webdriver.Chrome()

In [11]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [ ]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [12]:
tables=[]
table=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody')
for tr in table.find_elements(By.XPATH,'//tr'):
    row=[item.text for item in tr.find_elements(By.XPATH,'.//td')]
    tables.append(row)
df=pd.DataFrame(tables)

In [95]:
df=pd.DataFrame(tables)
df=df.drop(columns=[5,6,7,8,9])
df.drop([0,1], inplace=True)

In [97]:
df.columns=['Rank','Name','Artist','Views','Upload_Date']
df.rename(columns={'0':'Rank','1':'Name','2':'Artist','3':'Views','4':'Upload_Date'})
df.head(30)

,Rank,Name,Artist,Views,Upload_Date
2,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.65,"June 17, 2016"
3,2.,"""Despacito""[9]",Luis Fonsi,8.32,"January 12, 2017"
4,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.84,"October 8, 2016"
5,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.50,"May 2, 2018"
6,5.,"""Shape of You""[19]",Ed Sheeran,6.14,"January 30, 2017"
7,6.,"""See You Again""[22]",Wiz Khalifa,6.09,"April 6, 2015"
8,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.71,"May 24, 2018"
9,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.57,"March 6, 2014"
10,9.,"""Uptown Funk""[29]",Mark Ronson,5.09,"November 19, 2014"
11,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.01,"February 27, 2018"
12,11.,"""Gangnam Style""[31]",officialpsy,4.96,"July 15, 2012"
13,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
14,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.48,"April 5, 2018"
15,14.,"""Axel F""[38]",Crazy Frog,4.16,"June 16, 2009"
16,15.,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
17,16.,"""Counting Stars""[40]",OneRepublic,3.92,"May 31, 2013"
18,17.,"""Roar""[41]",Katy Perry,3.91,"September 5, 2013"
19,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.84,"June 25, 2018"
20,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.78,"June 4, 2010"
21,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.76,"June 14, 2018"
22,21.,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
23,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.69,"October 7, 2014"
24,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.63,"January 26, 2018"
25,24.,"""Dark Horse""[48]",Katy Perry,3.63,"February 20, 2014"
26,25.,"""Perfect""[49]",Ed Sheeran,3.60,"November 9, 2017"
27,26.,"""Let Her Go""[50]",Passenger,3.56,"July 25, 2012"
28,27.,"""Faded""[51]",Alan Walker,3.55,"December 3, 2015"
29,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,3.54,"May 10, 2011"
30,29.,"""Girls Like You""[53]",Maroon 5,3.52,"May 31, 2018"
31,30.,"""Lean On""[54]",Major Lazer Official,3.50,"March 22, 2015"

In [98]:
df.set_index('Rank', inplace=True)

In [99]:
df.head(30)

,Name,Artist,Views,Upload_Date
Rank,,,,
1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.65,"June 17, 2016"
2.,"""Despacito""[9]",Luis Fonsi,8.32,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.84,"October 8, 2016"
4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.50,"May 2, 2018"
5.,"""Shape of You""[19]",Ed Sheeran,6.14,"January 30, 2017"
6.,"""See You Again""[22]",Wiz Khalifa,6.09,"April 6, 2015"
7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.71,"May 24, 2018"
8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.57,"March 6, 2014"
9.,"""Uptown Funk""[29]",Mark Ronson,5.09,"November 19, 2014"
10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.01,"February 27, 2018"
11.,"""Gangnam Style""[31]",officialpsy,4.96,"July 15, 2012"
12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
13.,"""Dame Tu Cosita""[37]",Ultra Records,4.48,"April 5, 2018"
14.,"""Axel F""[38]",Crazy Frog,4.16,"June 16, 2009"
15.,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
16.,"""Counting Stars""[40]",OneRepublic,3.92,"May 31, 2013"
17.,"""Roar""[41]",Katy Perry,3.91,"September 5, 2013"
18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.84,"June 25, 2018"
19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.78,"June 4, 2010"
20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.76,"June 14, 2018"
21.,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.69,"October 7, 2014"
23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.63,"January 26, 2018"
24.,"""Dark Horse""[48]",Katy Perry,3.63,"February 20, 2014"
25.,"""Perfect""[49]",Ed Sheeran,3.60,"November 9, 2017"
26.,"""Let Her Go""[50]",Passenger,3.56,"July 25, 2012"
27.,"""Faded""[51]",Alan Walker,3.55,"December 3, 2015"
28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,3.54,"May 10, 2011"
29.,"""Girls Like You""[53]",Maroon 5,3.52,"May 31, 2018"
30.,"""Lean On""[54]",Major Lazer Official,3.50,"March 22, 2015"

# Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

 A) Series
 B) Place
 C) Date
 D) Time
 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [101]:
driver=webdriver.Chrome()

In [102]:
driver.get('https://www.bcci.tv/.')

In [104]:
fixture=driver.find_element(By.XPATH,'//*[@id="imw-international-men"]/a[2]')
fixture.click()

In [105]:
team=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div/div[1]')
team.click()

In [106]:
india=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div/div[2]/div[6]')
india.click()

In [119]:
series=[]
place=[]
date=[]
time=[]

In [120]:
series_tags = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series.append(i.text)

place_tags = driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')
for i in place_tags:
    place.append(i.text)

date_tags = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date.append(i.text)
        
time_tags = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time.append(i.text)

In [121]:
print(len(series),len(place),len(date),len(time))

27 27 27 27

In [122]:
df=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df

,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,Thiruvananthapuram,"26 NOVEMBER, 2023",7:00 PM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,Guwahati,"28 NOVEMBER, 2023",7:00 PM IST
4,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"29 NOVEMBER, 2023",1:30 PM IST
5,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"1 DECEMBER, 2023",1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,Raipur,"1 DECEMBER, 2023",7:00 PM IST
7,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"3 DECEMBER, 2023",1:30 PM IST
8,AUSTRALIA TOUR OF INDIA 2023-24,Bengaluru,"3 DECEMBER, 2023",7:00 PM IST
9,ENGLAND WOMEN TOUR OF INDIA 2023-24,Mumbai,"6 DECEMBER, 2023",7:00 PM IST
10,ENGLAND WOMEN TOUR OF INDIA 2023-24,Mumbai,"9 DECEMBER, 2023",7:00 PM IST
11,ENGLAND WOMEN TOUR OF INDIA 2023-24,Mumbai,"10 DECEMBER, 2023",7:00 PM IST
12,INDIA TOUR OF SOUTH AFRICA 2023-24,Durban,"10 DECEMBER, 2023",9:30 PM IST
13,INDIA TOUR OF SOUTH AFRICA 2023-24,Gqeberha,"12 DECEMBER, 2023",9:30 PM IST
14,ENGLAND WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"14 DECEMBER, 2023",9:30 AM IST
15,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,"14 DECEMBER, 2023",9:30 PM IST
16,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
17,INDIA TOUR OF SOUTH AFRICA 2023-24,Gqeberha,"19 DECEMBER, 2023",2:00 PM IST
18,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,Mumbai,"21 DECEMBER, 2023",9:30 AM IST
19,INDIA TOUR OF SOUTH AFRICA 2023-24,Paarl,"21 DECEMBER, 2023",2:00 PM IST
20,INDIA TOUR OF SOUTH AFRICA 2023-24,Centurion,"26 DECEMBER, 2023",1:30 PM IST
21,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,Mumbai,"28 DECEMBER, 2023",2:00 PM IST
22,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,Mumbai,"30 DECEMBER, 2023",2:00 PM IST
23,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,Mumbai,"2 JANUARY, 2024",2:00 PM IST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,Cape Town,"3 JANUARY, 2024",1:30 PM IST
25,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"5 JANUARY, 2024",7:00 PM IST
26,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"7 JANUARY, 2024",7:00 PM IST

# Q3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
    
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [123]:
driver=webdriver.Chrome()

In [124]:
driver.get('http://statisticstimes.com/')

In [125]:
economy=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
economy.click()

In [126]:
Indian_economy=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
Indian_economy.click()

In [127]:
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [148]:
tables=[]
table=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody')
for tr in table.find_elements(By.XPATH,'//tr'):
    row=[item.text for item in tr.find_elements(By.XPATH,'.//td')]
    tables.append(row)
df=pd.DataFrame(tables)

In [149]:
df.drop([0,1,2,3], inplace=True)

In [150]:
df=df.drop(columns=[6,7])

In [152]:
df.columns=['Rank','State','GSDP(18-19)- at current prices','GSDP(19-20)- at current prices','Share(18-19)','GDP($ billion)']
df.rename(columns={'0':'Rank','1':'State','2':'GSDP(18-19)- at current prices','3':'GSDP(19-20)- at current prices','4':'Share(18-19)','5':'GDP($ billion)'})
df.head(33)

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
4,1,Maharashtra,-,"2,632,792",13.94%,399.921
5,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
6,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
7,4,Gujarat,-,"1,502,899",7.96%,228.290
8,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
9,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
10,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
11,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
12,9,Telangana,"969,604","861,031",4.56%,130.791
13,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
14,11,Kerala,-,"781,653",4.14%,118.733
15,12,Delhi,"856,112","774,870",4.10%,117.703
16,13,Haryana,"831,610","734,163",3.89%,111.519
17,14,Bihar,"611,804","530,363",2.81%,80.562
18,15,Punjab,"574,760","526,376",2.79%,79.957
19,16,Odisha,"521,275","487,805",2.58%,74.098
20,17,Assam,-,"315,881",1.67%,47.982
21,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
22,19,Jharkhand,"328,598","297,204",1.57%,45.145
23,20,Uttarakhand,-,"245,895",1.30%,37.351
24,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
25,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
26,23,Goa,"80,449","73,170",0.39%,11.115
27,24,Tripura,"55,984","49,845",0.26%,7.571
28,25,Chandigarh,-,"42,114",0.22%,6.397
29,26,Puducherry,"38,253","34,433",0.18%,5.230
30,27,Meghalaya,"36,572","33,481",0.18%,5.086
31,28,Sikkim,"32,496","28,723",0.15%,4.363
32,29,Manipur,"31,790","27,870",0.15%,4.233
33,30,Nagaland,-,"27,283",0.14%,4.144
34,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
35,32,Mizoram,"26,503","22,287",0.12%,3.385
36,33,Andaman & Nicobar Islands,-,-,-,-

In [156]:
df.reset_index('Rank',inplace=True)
df.head(33)

,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
Rank,,,,,
1,Maharashtra,-,"2,632,792",13.94%,399.921
2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,Gujarat,-,"1,502,899",7.96%,228.290
5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,Telangana,"969,604","861,031",4.56%,130.791
10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,Kerala,-,"781,653",4.14%,118.733
12,Delhi,"856,112","774,870",4.10%,117.703
13,Haryana,"831,610","734,163",3.89%,111.519
14,Bihar,"611,804","530,363",2.81%,80.562
15,Punjab,"574,760","526,376",2.79%,79.957
16,Odisha,"521,275","487,805",2.58%,74.098
17,Assam,-,"315,881",1.67%,47.982
18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,Jharkhand,"328,598","297,204",1.57%,45.145
20,Uttarakhand,-,"245,895",1.30%,37.351
21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,Goa,"80,449","73,170",0.39%,11.115
24,Tripura,"55,984","49,845",0.26%,7.571
25,Chandigarh,-,"42,114",0.22%,6.397
26,Puducherry,"38,253","34,433",0.18%,5.230
27,Meghalaya,"36,572","33,481",0.18%,5.086
28,Sikkim,"32,496","28,723",0.15%,4.363
29,Manipur,"31,790","27,870",0.15%,4.233
30,Nagaland,-,"27,283",0.14%,4.144
31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,Mizoram,"26,503","22,287",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [179]:
driver=webdriver.Chrome()

In [180]:
driver.get('https://github.com/')

In [181]:
explore_menu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
explore_menu.click()

In [182]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [214]:
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

In [215]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')[0:19]
for i in title_tags:
    repository_title.append(i.text)
    
description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')[0:19]
for i in description_tags:
    repository_description.append(i.text)
    
contributors_tags=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')[0:19]
for i in contributors_tags:
    contributors_count.append(i.text)
    
language_tags=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')[0:19]
for i in language_tags:
    language_used.append(i.text)

In [216]:
print(len(repository_title),len(repository_description),len(contributors_count),len(language_used))

19 19 19 19

In [217]:
df=pd.DataFrame({'title':repository_title,'description':repository_description,'No of contributor':contributors_count,'language':language_used})
df

,title,description,No of contributor,language
0,bgstaal / multipleWindow3dScene,"A quick example of how one can ""synchronize"" a...","4,737",JavaScript
1,run-llama / rags,2008-2012 Roadster Development and Diagnostic ...,674,Python
2,teslamotors / roadster,"Awesome deals on Black Friday: Apps, SaaS, Boo...",992,JavaScript
3,trungdq88 / Awesome-Black-Friday-Cyber-Monday,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,97,TypeScript
4,fanmingming / live,Clash Nyanpasu!,498,HTML
5,keiko233 / clash-nyanpasu,leaked prompts of GPTs,113,Python
6,linexjlin / GPTs,The code behind my hot tips,"3,492",Java
7,wesbos / hot-tips,Focus on prompting and generating,702,C
8,lllyasviel / Fooocus,A Collection of application ideas which can be...,"15,245",Java
9,florinpop17 / app-ideas,"StarRocks, a Linux Foundation project, is a ne...","1,993",Go
10,StarRocks / starrocks,C Telegram bot framework,"1,800",Shell
11,antirez / botlib,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,158,Python
12,GrowingGit / GitHub-Chinese-Top-Charts,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,"1,626",TypeScript
13,1Panel-dev / 1Panel,store all chatgpt's system prompt,346,Jupyter Notebook
14,LouisShark / chatgpt_system_prompt,Generative Models by Stability AI,497,Swift
15,Stability-AI / generative-models,A one-of-a-kind resume builder that keeps your...,41,Java
16,AmruthPillai / Reactive-Resume,"12 Weeks, 24 Lessons, AI for All!","17,258",JavaScript
17,microsoft / AI-For-Beginners,A curated list of awesome C++ (or C) framework...,"1,360",Java
18,fffaraz / awesome-cpp,Black Friday Deals for macOS / iOS Software & ...,"68,720",TypeScript

In [219]:
driver.quit()

# Q5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [345]:
driver=webdriver.Chrome()

In [347]:
driver.get('https:/www.billboard.com/')

In [348]:
option_button=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[1]/div[1]/button')
option_button.click()

In [349]:
hot_100=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/div[9]/div/div/div/ul/li[1]/ul/li[2]')
hot_100.click()

In [385]:
song = []
artist = []
weekly_ranks = []
peak_ranks = []
weeks_on_board = []

In [386]:
song_tags=driver.find_elements(By.XPATH,'//li/h3[@id="title-of-a-story"]')[0:99]
for i in song_tags:
    song.append(i.text)
    
artist_tags=driver.find_elements(By.XPATH,'//li/span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')[0:99]
for i in artist_tags:
    artist.append(i.text)
    
week_rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')[0:589:6]
for i in week_rank:
    weekly_ranks.append(i.text)
    
peak_rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')[1:591:6]
for i in peak_rank:
    peak_ranks.append(i.text)
    
board_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')[2:591:6]
for i in board_tags:
    weeks_on_board.append(i.text)

In [387]:
print(len(song),len(artist),len(weekly_ranks),len(peak_ranks),len(weeks_on_board))

99 99 99 99 99

In [388]:
df=pd.DataFrame({'song':song,'Artist':artist,'week rank':weekly_ranks,'peak rank':peak_ranks,'week on board':weeks_on_board})
df

,song,Artist,week rank,peak rank,week on board
0,Cruel Summer,Jack Harlow,-,2,1
1,Lovin On Me,Doja Cat,2,1,15
2,Paint The Town Red,SZA,4,2,49
3,Snooze,Taylor Swift,3,1,3
4,Is It Over Now? (Taylor's Version) [From The V...,Zach Bryan Featuring Kacey Musgraves,6,1,12
...,...,...,...,...,...
94,Smurk Carter,Karol G,91,22,13
95,Mi Ex Tenia Razon,Riley Green Featuring Luke Combs,-,97,1
96,Different 'Round Here,Luke Bryan,98,92,5
97,But I Got A Beer In My Hand,YoungBoy Never Broke Again & Rod Wave,-,99,1
98,Better Than Ever,310babii,-,100,1

In [389]:
driver.quit()

# 6. Scrape the details of Highest selling novels.

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [279]:
driver=webdriver.Chrome()

In [280]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [283]:
tables=[]
table=driver.find_element(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody')
for tr in table.find_elements(By.XPATH,'//tr'):
    row=[item.text for item in tr.find_elements(By.XPATH,'.//td')]
    tables.append(row)
df=pd.DataFrame(tables)

In [285]:
df.drop([0,1], inplace=True)

In [287]:
df.columns=['Rank','Book Name','Author Name','Volume Sold','Publisher','Genre']
df.rename(columns={'0':'Rank','1':'Book Name','2':'Author Name','3':'Volume Sold','4':'Publisher','5':'Genre'})
df.set_index('Rank', inplace=True)
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [288]:
driver.quit()

# Q7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
        
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [289]:
driver=webdriver.Chrome()

In [290]:
driver.get('https://www.imdb.com/list/ls095964455/ ')

In [304]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [305]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name_tags:
    Name.append(i.text)
    
year_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tags:
    Year_span.append(i.text)
    
genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tags:
    Genre.append(i.text)
    
time_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time_tags:
    Run_time.append(i.text)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_tags:
    Ratings.append(i.text)
    
vote_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote_tags:
    Votes.append(i.text)

In [306]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [307]:
df=pd.DataFrame({'Name':Name ,'Year Span':Year_span,'Genre':Genre,'Run Time':Run_time,'Rating':Ratings,'Vote':Votes})
df

,Name,Year Span,Genre,Run Time,Rating,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,225,358"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,292,506"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,055,693"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"309,981"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,102"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,245"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,336"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,060"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,363"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,647"

In [308]:
driver.quit()

# Q8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
        
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [503]:
driver=webdriver.Chrome()

In [508]:
driver.get(' https://archive.ics.uci.edu/')

In [509]:
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [399]:
Task=[]
year=[]
df['Column'] = df['Column'].apply(lambda x: x if x is not None else '-')

In [545]:
Dataset_name=[]
Data_type=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]

In [546]:
import time
start=0
end=65
for page in range(start,end):
    name_tags=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')[:500]
    for i in name_tags:
        Dataset_name.append(i.text)
        
    data_type=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]/span')[0:550:4]
    for i in data_type:
        Data_type.append(i.text)
        
    attributetype_tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]/span')[1:550:4]
    for i in attributetype_tags:
        Attribute_type.append(i.text)
        
    instance_tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]/span')[2:550:4]
    for i in instance_tags:
        No_of_instances.append(i.text)
        
    attribute_tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]/span')[3:550:4]
    for i in attribute_tags:
        No_of_attribute.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(2)

In [547]:
print(len(Dataset_name),len(Data_type),len(Attribute_type),len(No_of_instances),len(No_of_attribute))

650 609 598 579 562

In [554]:
df1=pd.DataFrame(Dataset_name)[:500]
df2=pd.DataFrame(Data_type)[:500]
df3=pd.DataFrame(Attribute_type)[:500]
df4=pd.DataFrame(No_of_instances)[:500]
df5=pd.DataFrame(No_of_attribute)[:500]

In [556]:
result = pd.concat([df1,df2,df3,df4,df5], axis=1)
result

,0,0,0,0,0
0,Iris,Classification,Tabular,150 Instances,4 Features
1,Heart Disease,Classification,Multivariate,303 Instances,13 Features
2,Adult,Classification,Multivariate,48.84K Instances,14 Features
3,Wine,Classification,Tabular,178 Instances,13 Features
4,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances,30 Features
...,...,...,...,...,...
495,Refractive errors,Classification,48 Instances,130K Instances,698 Features
496,Optical Interconnection Network,Classification,"Multivariate, Text",40K Instances,128 Features
497,MiniBooNE particle identification,Clustering,Multivariate,637 Instances,1.02K Features
498,Cryotherapy Dataset,"Classification, Clustering","Sequential, Text",165.63K Instances,4 Features
499,REALDISP Activity Recognition Dataset,"Classification, Regression",Time-Series,2.5K Instances,Classification

In [557]:
driver.quit()

# -------------------------------------THANKS-----------------------------------